.backgroundGeneric{
-fx-background-image:url('TELA_MAIORIA.png');
-fx-background-size:cover;
}
.backgroundInicial{
-fx-background-image:url('TELA_INICIAL.png');
-fx-background-size:cover;
}
.voltar{
-fx-background-image:url('voltar.png');
-fx-background-size:cover;
}
.telaPane{
-fx-background-image:url('TELAPANE.png');
-fx-background-size:cover;
}
.backgroundEstoqueBalanco{
-fx-background-image:url('TELA_ESTOQUE_BALANÇO.png');
-fx-background-size:cover;
}
.botaoInicio{
-fx-background-image:url('botao_escuro_fundoclaro.png');
-fx-background-size:cover;
}
.botaoClaroFundoMenosEscuro{
-fx-background-image:url('botao_claro_fundomenosescuro.png');
-fx-background-size:cover;
}
.botaoClaroFundoMaisEscuro{
-fx-background-image:url('botao_claro_fundomaisescuro.png');
-fx-background-size:cover;
}
