.raiz{
-fx-background-image:url('TELA_MAIORIA.png');
-fx-background-size:cover;
}
.voltar{
-fx-background-image:url('voltar.png');
-fx-background-size:cover;
}
.financeiro{
-fx-background-image:url('financeiro.png');
-fx-background-size:cover;
}
.adicionar{
-fx-background-image:url('adicionar.png');
-fx-background-size:cover;
}
.estoque{
-fx-background-image:url('estoque.png');
-fx-background-size:cover;
}
.cadastrarGenerico{
-fx-background-image:url('cadastrar_tela_clara.png');
-fx-background-size:cover;
}
.cadastrarInicial{
-fx-background-image:url('cadastrar_tela_inicial.png');
-fx-background-size:cover;
}
.creditos{
-fx-background-image:url('credito_tela_inicial.png');
-fx-background-size:cover;
}
.entrar{
-fx-background-image:url('entrar.png');
-fx-background-size:cover;
}
.adicionar{
-fx-background-image:url('adicionar.png');
-fx-background-size:cover;
}
.adicionarProduto{
-fx-background-image:url('adicionar_produto.png');
-fx-background-size:cover;
}
.finalizar{
-fx-background-image:url('finalizar.png');
-fx-background-size:cover;
}
.confirmarVenda{
-fx-background-image:url('confirmar_venda.png');
-fx-background-size:cover;
}
.confirmarGenerico{
-fx-background-image:url('confirmar.png');
-fx-background-size:cover;
}
.telaPane{
-fx-background-image:url('TELAPANE.png');
-fx-background-size:cover;
}
.limpar{
-fx-background-image:url('limpar.png');
-fx-background-size:cover;
}
.verTudo{
-fx-background-image:url('vertudo.png');
-fx-background-size:cover;
}
.verBalanco{
-fx-background-image:url('verbalanco.png');
-fx-background-size:cover;
}
.mudarTaxa{
-fx-background-image:url('mudartaxa.png');
-fx-background-size:cover;
}
.comprarProduto{
-fx-background-image:url('comprarproduto.png');
-fx-background-size:cover;
}
.removerProduto{
-fx-background-image:url('removerproduto.png');
-fx-background-size:cover;
}
.caixa{
-fx-background-image:url('caixa.png');
-fx-background-size:cover;
}